.start-button {
  cursor: pointer;
  padding-left: 24%;
  box-sizing: border-box;
  background-color: var(--scarlet-red-color);
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  justify-content: left;
  align-items: center;
  height: 4.375rem;
  padding-top: 0.313rem;
  margin-top: 0.75rem;

  border: 0.125rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.313rem;
  text-align: left;
}

.start-button.timer-on {
  padding-left: 18%;
  background-color: #e66158;
}

.start-button:hover {
  box-shadow: 0.125rem 0.438rem 0.438rem rgba(0, 0, 0, 0.25);
  text-shadow: 0.125rem 0.125rem rgba(83, 81, 81, 0.25);
}

.start-button-icon {
  width: 2.188rem;
  height: 2.188rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
}
