#cover-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.save-pomo-popup {
  z-index: 5;
}

.pomo-popup {
  box-sizing: border-box;
  position: relative;
  width: 18.75rem;
  height: 37.375rem;
  padding: 1.875rem;
  margin: auto;
  text-align: center;
  background: var(--white-background-color);
  border: 0.094rem solid rgba(0, 0, 0, 0.35);
  box-shadow: 0.188rem 0.25rem 0.25rem 0.188rem rgba(0, 0, 0, 0.08);
  border-radius: 0.625rem;
}

@media  (min-width: 768px) {
  .pomo-popup {
    margin-top: 6.25rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pomo-popup {
    margin-top:  2.5rem;
  }
}

.close-form-icon img {
  display: inline;
  padding-left: 13.5rem;
  width: 1.375rem;
  height: 1.375rem;
  color: var(--black-color);
}

.pomo-popup__close-icon {
  width: 1.375rem;
  height: 1.375rem;
  color: var(--black-color);
}

.form-body {
  margin-top: 6rem;
}

.form-body h2 {
  margin-bottom: 3rem;
}

.form-header {
  display: flex;
  justify-content: right;
}

.form__input {
  display: block;
  font-size: 1.063rem;
  color: #333;
  margin: 0 0 1rem 0;
  padding: 1.3rem;
  border-radius: 0.4rem;
  background-color: rgb(236, 236, 238);
  border: none;
  width: 84%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.save-button {
  box-sizing: border-box;
  align-items: center;
  color: white;
  font-size: 1.688rem;
  font-weight: 700;
  padding: 0.375rem 0.938rem 0.563rem 0.938rem;
  margin-top: 1rem;
  background: var(--light-lilac-color);
  border: 0.125rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
}

.save-button:hover {
  box-shadow: 0.125rem 0.438rem 0.438rem rgba(0, 0, 0, 0.25);
  text-shadow: 0.125rem 0.125rem rgba(83, 81, 81, 0.25);
}
